<header class="header">
  <h1>Student Management System</h1>
</header>

<main class="container">
  <section class="list-header">
    <h2>List of Students</h2>
      <a class="add-btn" [routerLink]="['/create-student']">Add Student</a>
  </section>

  @for (student of students(); track student.id) {
    <article class="student-card">
      <h3>{{ student.first_name }} {{ student.last_name }}</h3>
<p><strong>Year Level:</strong> {{ student.year_level }}</p>


      <button class="delete-btn" (click)="deleteStudent(student.id)">Delete</button>
    </article>
  } @empty {
    <span>No students found</span>
  }
</main>

